{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class='container'>
        <h1>Admin page</h1>
        <button>
            <a href='/game/create'>Create game</a>
        </button>
        <button>
            <a href='/offers/create'>Create offer</a>
        </button>
        <table class='table table-bordered border-dark'>
            <tr>
                <td>Entity</td>
                <td>Action</td>
            </tr>
                {% for offer in offers %}
                    <tr>
                        <td>{{offer.name}} / Game: {{offer.game.name}}</td>
                        <td>
                            <button>
                                <a href='offers/delete/{{offer.id}}'>Delete</a>
                            </button>
                            <button>
                                <a href='offers/update/{{offer.id}}'>Update</a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                {% for game in games %}
                    <tr>
                        <td>Game: {{game.name}}</td>
                        <td>
                            <button>
                                <a href='game/delete/{{game.id}}'>Delete</a>
                            </button>
                            <button>
                                <a href='game/update/{{game.id}}'>Update</a>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}
