
{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
    <h1>{{controller_name}}</h1>
    <div class='container'>
        <table class='table table-bordered border-dark'>
            <tr>
                <td>id</td>
                <td>Offer name</td>
                <td>Game name</td>
                <td>Price</td>
                <td>Link to offer</td>
            </tr>
                {% for offer in offers %}
                    <tr>
                        <td>{{offer.id}}</td>
                        <td>{{offer.name}}</td>
                        <td>{{offer.game.name}}</td>
                        <td>{{offer.price}} €</td>
                        <td>{{offer.offerLink}}</td>
                        <td>
                            <form action='/offers/delete/{{offer.id}}'>
                                <input type='submit' value='Delete'/>
                            </form>
                           
                        </td>
                    </tr>
                {% endfor %}
        </table>
        <form action='offers/deleteall'>
            <input type='submit' value='Delete All'/>
        </form>
         <form action='/game'>
            <input type='submit' value='Go to Game pages'/>
        </form>

        <form action='/offers/create'>
            <input type='submit' value='Ajouter une offre'/>
        </form>
    </div>
{% endblock %}
